@charset "UTF-8";

*{

	margin:0;
	padding:0;
}


.container{
	text-align: center;
	padding-top:100px;
	
}

.row{
	display:flex;
	align-items: center;
  	justify-content: center;
}

.left{
	padding:10px;
}

.right{
	padding:10px;
}

